body
{
    margin: 0;
    padding: 0;
    background-color: black;
}

main
{
    display: inline-block;
    width: 93%;
    border: 5px solid whitesmoke;
}

aside
{
    float: right;
    width: 5%;
    border: 5px solid white;
}

aside div
{
    height: 50px;
    width: 90%;
    margin: 10px 5%;
}

table
{
    border-collapse: collapse;
}

td:hover, aside div:hover
{
    border: 1px solid white;
}